* {
  margin: 0;
  padding: 0; }

body {
  color: white;
  background-color: #464646;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

._2ZEI2N0TrhsEqJGGsvDA1_ {
  width: 500px;
  height: 500px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 25px; }

.exVzbDgWgieX_kZwBSMmG {
  width: 100px;
  height: 100px;
  display: block; }
